.button-ui.ant-btn {
  background-color: #FF6B35 !important;
  color: white !important;
  border-color: #FF6B35 !important;
}

.button-ui.ant-btn:hover {
  background-color: #E85A27 !important;
  border-color: #E85A27 !important;
  color: white !important;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
